{% extends "authentication_layout.html" %}

{% block layout %}
    <main class="bg-primary">
        <div class="flex justify-center items-center min-h-screen">
            {{block.super}}
            <div class="hidden md:flex ml-8 flex-col justify-center items-center">
                <img src="data:image/png;base64,{{ qr_code_image|safe }}" alt="QR Code" class="w-32 h-32 mb-4">
                <h2 class="text-lg text-center text-white">Escanea el QR para iniciar sesión</h2>
                <p class="text-sm text-center text-white max-w-sm">Escanea el código en un dispositivo conectado para iniciar sesión inmediatamente en este dispositivo.</p>
            </div>
        </div>
    </main>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const token = "{{token}}";
            const host = `ws://${window.location.host}/ws/qr/${token}/`

            const ws = new WebSocket(host);
            
            ws.onmessage = function(event) {
                const data = JSON.parse(event.data);
                if(data.status === 400) {
                    console.error('Error:', data.message);
                    return
                }
                const sessionKey = data.session_key;
                fetch("{% url 'authentication:qr_login' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({session_key: sessionKey, token: token})
                }).then(response => {
                    if (response.ok) {
                        window.location.href = "{% url 'home' %}";
                        return
                    }
                    console.error('Error al iniciar sesión');
                }).catch(error => {
                    console.error('Error:', error);
                });
            }
        });

    </script>
{% endblock layout %}

{% block content %}
    {% include "login/base_form.html" %}
{% endblock content %}

{% block footer %}
    <p>¿No tienes cuenta? <a href="{% url 'authentication:register' %}" class="text-primary">Regístrate</a></p>
{% endblock footer %}