{% extends "components/forms/base_form.html"%}

{% block controls %}
    <div class="mb-4 grid grid-cols-2 gap-4">
        {% include "components/forms/field.html" with field=form.first_name %}
        {% include "components/forms/field.html" with field=form.last_name %}
    </div>
    <div class="mb-4">
        {% include "components/forms/field.html" with field=form.username %}
    </div>
    <div class="mb-4">
        {% include "components/forms/field.html" with field=form.email %}
    </div>
    <div class="mb-4">
        {% include "components/forms/field.html" with field=form.password1 %}
    </div>
    <div class="mb-4">
        {% include "components/forms/field.html" with field=form.password2 %}
    </div>
{%endblock controls%}