{% extends 'base_layout.html' %}
{% load static %}

{% block layout %}
<main class="bg-primary p-4">
    <h1 class="text-3xl text-white font-bold mb-4">Shopping Cart</h1>
    <button id="start" class="bg-white text-primary font-bold py-2 px-4 rounded mb-4">Start</button>
    <canvas id="canvas" class="bg-white rounded mb-4"></canvas>
    <div class="overflow-x-auto">
        <table id="product-table" class="min-w-full bg-white border border-gray-300 rounded">
            <thead class="bg-gray-200">
                <tr>
                    <th class="px-4 py-2 text-left">Name</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</main>
<script>
    const user_id = "{{ user.id }}";
</script>
<script src="{% static "js/shopping-capture.js" %}"></script>
{% endblock layout %}
