{% extends 'components/forms/form_layout.html' %}
{% load static %}

{% block controls %}
    <div class="flex flex-col md:flex-row gap-4">
        <div class="w-full md:w-3/4 bg-white shadow-md p-4">
            <div class="mb-4">
                <h1 class="text-2xl font-bold text-primary-dark">{{ title }}</h1>
            </div>
            <div class="mb-4">
                {% include 'components/forms/field.html' with field=form.date %}
            </div>
            <div class="mb-4 grid grid-cols-2 gap-4">
                {% for item in form.items %}
                    <div class="mb-4">
                        {% include 'components/forms/field.html' with field=item.subtotal %}
                    </div>
                    <div class="mb-4">
                        {% include 'components/forms/field.html' with field=item.tax %}
                    </div>
                    <div class="mb-4">
                        {% include 'components/forms/field.html' with field=item.total %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="w-full md:w-1/4 bg-white shadow-md p-4">
            <div class="mb-4">
                {% include "components/button.html" with extra_classes="bg-primary-light text-white" button_text=submit_text %}
            </div>
        </div>
    </div>
{% endblock controls %}

